!!!
%html
  %head
    %title= yield_content :title
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %link(rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css' media='screen')
    %link(rel='stylesheet' href='/vendor/bootstrap/css/bootstrap-responsive.min.css' media='screen')
    %link(rel='stylesheet' href='/application.css' media='screen')
    %link(rel='shortcut icon' href='/favicon.png')
  %body
    .container
      %h1= yield_content :title
      = yield
    %script(src='http://code.jquery.com/jquery.js')
    %script(src='/vendor/bootstrap/js/bootstrap.min.js')
