- content_for :title do
  Russian Novel-ness over past #{pluralize @days, 'day'}
  %small
    %span{day_links}

.bubble-chart{ data: { view: 'Russia',
                       authors_path: authors_path,
                       url: russian_novels_path(days: @days) } }
  = haml :'shared/progress'
