- content_for :title do
  Russian Novel-ness over past #{pluralize @days, 'day'}
  %small
    %span{day_links}

.bubble-chart= haml :'shared/progress'

- content_for :footer do
  :javascript
    Twigg.Russia.showNovelStats();
