- content_for :title do
  Commit Stats Over Past #{number_with_delimiter @days} Days

%h2 #{number_with_delimiter @commit_set.count} commits
%table.table.table-striped.table-hover.table-bordered
  %thead
    %tr
      %th Total commits
      %th Author
      %th Breakdown by project
      %th &nbsp;
  %tbody
    - @commit_set.authors.each do |object|
      = haml :'shared/commit_row',
        locals: { author:         object[:author],
                  author_href:    author_path(object[:author]),
                  author_tooltip: object[:author],
                  commit_set:     object[:commit_set] }
