- content_for :title do
  = @author

%ul.breadcrumb
  %li
    %a(href='/') Home
  %li
    %a{ href: authors_path } Authors
  %li.active= @author

= haml :'shared/commit_set',
  locals: { commit_set: @commit_set, days: @days }
