#chart svg {
  height: 200px;
}

.replace-active:after {
  color: #aaa;
  content: 'loading...';
  font-style: italic;
}

/* Bootstrap overrides */

body .modal-dialog {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
