- content_for :title do
  Twigg

.teams.well{ 'data-lazy-url' => teams_path(days: @days) }
.pairs.well{ 'data-lazy-url' => pairs_path(days: @days) }
.authors.well{ 'data-lazy-url' => authors_path(days: @days) }
